.welcome{
    font-family: 'Kalam', cursive;
    color: rgb(2, 54, 2);
    font-size: 40px;
}
.body{
    margin-top: 130px;
    margin-left: 190px;
    width: 40%;
}
.flex-container {
    display: flex;
}
img{
    margin-top: 60px;
    height: 460px;
    width: 550px;
}
p{
    color: rgb(0, 104, 0);
    text-align: left;
    font-family: 'Bacasime Antique', serif;
    font-size: 20px;
    line-height: 1.5;
}